/* ----------------- css reset ------------------- */
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  max-width: 65ch;
  text-wrap: pretty;
}

body {
  line-height: 1.3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ------------------------------------------------ */

:root {
  --gray: #e2e8f0;
  --blue: #1a92d3;
}

/* * {
  outline: 2px solid salmon;
} */

/* -------------------------------------------- */
/* ------------ MAIN GRID ------------------ */
/* -------------------------------------------- */
body {
  display: grid;
  grid-template-areas:
    "sidbar header"
    "sidbar main";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

aside {
  grid-area: sidbar;
  padding: 2em 2em;
  padding-bottom: 0;
  background-color: var(--blue);
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

/* -------------------------------------------- */
/* ------------ SIDEBAR ------------------ */
/* -------------------------------------------- */

.sidebar__nav-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  font-size: 1em;
}

.sidebar__nav-ul--top {
  margin: 3em 0;
}

.sidebar__list-item,
.sidebar__header {
  background-repeat: no-repeat;
  padding-left: 2em;
  color: white;
}

.sidebar__header {
  background-image: url(./svgs/view-dashboard.svg);
}

.sidebar__list-item--home {
  background-image: url(./svgs/home.svg);
}

.sidebar__list-item--profile {
  background-image: url(./svgs/card-account-details-outline.svg);
}

.sidebar__list-item--messages {
  background-image: url(./svgs/email-outline.svg);
}

.sidebar__list-item--history {
  background-image: url(./svgs/history.svg);
}

.sidebar__list-item--communities {
  background-image: url(./svgs/account-group.svg);
}

.sidebar__list-item--settings {
  background-image: url(./svgs/cogs.svg);
}

.sidebar__list-item--support {
  background-image: url(./svgs/face-agent.svg);
}

.sidebar__list-item--privacy {
  background-image: url(./svgs/shield-check.svg);
}

/* -------------------------------------------- */
/* ------------ HEADER ------------------ */
/* -------------------------------------------- */

/* .header-top > * {
  border: 2px solid firebrick;
} */

.header {
  background-color: white;
  padding: 0.5rem 2rem;
}

.header__container {
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  gap: 1.5rem;
  /* flex-wrap: wrap; */
  padding-bottom: 2rem;
}

.header__profile-pic {
  aspect-ratio: 1 / 1;
  width: 3rem;
  border-radius: 50%;
}

.header__name {
  font-weight: 800;
}
/* --------- HEADER TOP ---------------- */

.header__form-searchbar {
  flex-basis: 75%;
  margin-right: auto;
}

.header__label {
  background-image: url(./svgs/magnify.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
  padding-left: 1em;
  margin-right: 1rem;
  vertical-align: middle;
}

.header__input {
  width: 70%;
  border-radius: 12px;
  padding-block: 0.8em;
  padding-inline: 1em;
  background-color: var(--gray);
  border: none;
}

.header__input:focus {
  outline: 2px solid var(--blue);
}

.header__notification {
  background-image: url(./svgs/bell-ring-outline.svg);
  background-repeat: no-repeat;
  aspect-ratio: 1 / 1;
  min-height: 1.7em;
}

/* --------- HEADER BOTTOM ---------------- */

/* .header--bottom > * {
  border: 2px solid orangered;
} */

.header--bottom {
  padding-bottom: 0;
}

.header__welcome-user {
  margin-right: auto;
  font-weight: 600;
}

.header__btn {
  padding: 1em 3em;
  border-radius: 1.5em;
  border: none;
  background-color: var(--blue);
  color: white;
  font-weight: 900;
}

.header__profile-pic--bottom {
  min-width: 5rem;
}

.header__name--bottom {
  font-size: 1.5em;
}

/* -------------------------------------------- */
/* ------------ MAIN ------------------ */
/* -------------------------------------------- */

main {
  display: grid;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.main__container--projects {
  grid-area: projects;
  background-color: var(--gray);
}

.main__container--announcements {
  grid-area: announcements;
  background-color: var(--gray);
}

.main__container--trending {
  grid-area: trending;
  background-color: var(--gray);
}

.main__container {
  display: grid;
  padding: 2em 1em 1em 1em;
  gap: 1rem;
}

.main__card-content,
.main__announcement-text {
  font-weight: 200;
  font-size: 0.8em;
}

/* ------------- Main-Projects ---------------- */

.main__container--projects {
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1.75em repeat(3, 5fr) 1fr;
  gap: 1rem;
}

.main__title--projects {
  grid-column: 1 / -1;
}

.main__card-projects {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 3em 2em 1.5em 2em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  border-left: 1rem solid var(--blue);
}

.main__card-content {
  max-width: 30ch; /*roughly 6 words */
}

.main__card-header {
  margin-bottom: 0.67em;
}

.main__btn-container {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  margin-top: auto;
}

.main__btn {
  border: none;
}

.main__btn-img {
  aspect-ratio: 1 / 1;
  width: 2em;
  background-color: white;
  outline: none;
}

.main__btn--share {
  margin-right: 0;
}

/* ------------- Main-Announcements ---------------- */

.main__container--announcements,
.main__container--trending {
  grid-template-rows: 1.75em 4fr;
}

.main__announcement-card,
.main__card-trending {
  /* border: 2px solid black; */
}

.main__title--announcements {
  /* align-self: self-end; */
}

.main__subcontainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em 2em;
  border-radius: 0.5rem;
  justify-content: space-evenly;
}

.main__announcement-card {
  padding-block: 0.8em;
  border-top: 1px solid black;
}

.main__announcement-card--first {
  border-top: none;
}

/* ------------- Main-Trending ---------------- */

.main__trending-subcontainer {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: start;
}

.main__image-guest {
  border-radius: 50%;
  /* aspect-ratio: 1 / 1;
  width: 100%; */
  min-width: 4rem;
}

@media (max-width: 1131px) {
  .main__container--projects {
    grid-template-columns: 1fr;
    grid-template-rows: 1.75em auto;
    gap: 1rem;
  }
}
